# Ignore these types of files
*.log
*.err
*.pyc

MCproduction/testFiles.ipynb

# In the MadGraph_files folder I don't want to save
# the madgraph run files, but I do want to include
# the structure of the directories and the run_script.sh in them


# ignore these folders
MG5_aMC_v2_6_7
MG5_aMC_v2_9_19
Delphes-3.5.0
**/logging
genproductions
myFiles
**/CMSSW*
recast/plots
HiggsDNA
HiggsDNA2
higgsInvsPaper
BPs/MadGraph_files/paramScan/**/h2h2*
pNN

# And these files
Delphes-3.5.0.tar.gz
MG5_aMC_v2.6.7.tar.gz
MG5_aMC_v2.9.19.tar.gz
idmStudyImperial.code-workspace
MCproduction/genproductions_compressed.tar.gz
BPs/MG5_aMC_v2_6_7_forCondor.tar.gz